:root {
  /* Default Color */
  --background: #253556;
  --on-background: #ffffff;
  --surface: #ffffff;
  --on-surface: #000000;

  --secondary: #517fdb;

  /* Dimensions */
  --border-radius: 5px;
  --min-padding: 10px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

img {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
